@import './base.css';

#app {
    font-weight: normal;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}

.header-wrapper {
    position: relative;
    top: 0;
    border-bottom: 1px solid #dcdfe6;
    height: 55px;
    backdrop-filter: saturate(80%) blur(6px);
    background-color: #ffffff99;
    padding: 0 32px;
}

.header-container {
    max-width: 1482px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 55px;
}

a {
    text-decoration: inherit;
}

.logo-container>a {
    height: 28px;
    width: 32px;
}

.logo-container .logo {
    position: relative;
    height: 100%;
}

img {
    max-height: 100%;
    border-style: none;
}

.header-container .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.navbar-menu {
    display: flex;
}

.is-menu-link {
    display: block;
    padding: 0 12px;
    line-height: 52px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    transition: color 0.3s;
    border-bottom: 2px solid transparent;
}

.is-menu-link.active {
    border-bottom-color: #409eff;
}

.theme-toggler-content {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 12px;
    cursor: pointer;
}

.page-content {
    padding: 20px;
    margin: 55px auto;
    max-width: 1482px;
    min-height: calc(100vh - 165px);
}