@import './base.css';

#app {
    font-weight: normal;
    background-color: var(--color-background);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}

.header-wrapper {
    position: relative;
    top: 0;
    border-bottom: 1px solid #dcdfe6;
    height: 55px;
    background-image: radial-gradient(transparent 1px, var(--color-background) 1px);
    background-size: 4px 4px;
    backdrop-filter: saturate(50%) blur(4px);
}